<!-- запрос пароля на администрирование -->
<form action="/admin" method="POST" class="form-inline">

  <h4>Enter login and password:</h4>

  <!-- логин -->
  <div class="form-group">
    <input type="text" class="form-control" name="login" placeholder="Login">
  </div>

  <!-- пароль -->
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  
  <!-- отправка формы -->
  <button type="submit" class="btn btn-primary">Enter</button>
</form>