<!-- вывод информации о визитах и сообщениях для администратора -->

<!-- визиты -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Requests:</h3>
  </div>
  <!-- в панель выводится содержимое БД users-->
  <div class="panel-body">
    <% $db.execute "SELECT * FROM users ORDER BY id DESC" do |line| %>
    <%= "#{line['Name'].encode('utf-8')}, tel. #{line['Phone']} meet #{line['Date']} with #{line['Candy']} or select color #{line['Color']};" %> <br>
    <% end %>
  </div>
</div>

<!-- сообщения -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Messages:</h3>
  </div>
  <!-- в панель выводится содержимое файла БД contacts -->
  <div class="panel-body">
    <% $db.execute "SELECT * FROM contacts" do |line| %>
    <%= line['Email'] %> <br>
    <%= line['Message'].encode('utf-8') %> <br>
    <br>
    <% end %>
  </div>
</div>