<!-- вывод информации о визитах и сообщениях для администратора -->

<!-- визиты -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Requests:</h3>
  </div>
  <!-- в панель выводится содержимое БД users-->
  <div class="panel-body">
    <% $db.execute "SELECT * FROM users" do |line| %>
    <%= "#{line[1].encode("utf-8")}, tel. #{line[2]} meet #{line[3]} with #{line[4]} or select color #{line[5]};" %> <br>
    <% end %>
  </div>
</div>

<!-- сообщения -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Messages:</h3>
  </div>
  <!-- в панель выводится содержимое файла contacts.txt -->
  <div class="panel-body">
    <% f=File.open("./public/contacts.txt", "r") %>
    <% while line=f.gets %>
    <%= line %> <br>
    <% end %>
    <% f.close %>
  </div>
</div>